absl-py==2.1.0
anesthetic==2.9.1
anyio==4.8.0
astropy==7.0.0
astropy-iers-data==0.2024.12.30.0.33.36
attrs==24.3.0
backoff==2.2.1
blackjax @ git+https://github.com/handley-lab/blackjax@438afbd7b155210bcb8bf69a683a5ba0b27e73e8
certifi==2024.12.14
charset-normalizer==3.4.1
chex==0.1.88
contourpy==1.3.1
cosmopower_jax==0.5.5
cycler==0.12.1
dacite==1.8.1
dataclasses-json==0.3.2
etils==1.11.0
fastprogress==1.0.3
filetype==1.2.0
fonttools==4.55.3
gql==3.6.0b2
graphql-core==3.3.0a6
healpy==1.18.0
idna==3.10
jax==0.4.38
jaxlib==0.4.38
jaxopt==0.8.3
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
line_profiler==4.2.0
llvmlite==0.43.0
lsbi==0.12.3
marshmallow==3.23.3
marshmallow-enum==1.5.1
matplotlib==3.9.4
ml_dtypes==0.5.0
multidict==6.1.0
mypy-extensions==1.0.0
numba==0.60.0
numpy==2.0.2
opt_einsum==3.4.0
optax==0.2.4
packaging==24.2
pandas==2.2.3
pillow==11.1.0
propcache==0.2.1
psym==2.2.2
py-gql-client==0.0.13
pyerfa==2.0.1.5
pyparsing==3.2.1
pysm3==3.4.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rpds-py==0.22.3
scipy==1.15.1
seaborn==0.13.2
setuptools==75.8.0
six==1.17.0
sniffio==1.3.1
stringcase==1.2.0
toml==0.10.2
toolz==1.0.0
tqdm==4.67.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
unicodecsv==0.14.1
urllib3==2.3.0
XlsxWriter==3.2.0
yarl==1.18.3
